node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store



app-example/
# default example project

.vscode/
scripts/

# keep keys secret
.env
app.config.js